@import "../../../res/styles/Colors";

.TokenWeightEmptyHolder__content {
  border-radius: 8px;
  background-color: @content-color;
  border: dashed 1.2px @border-dark;
  color: @text-color-dark;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  width: 160px;
  height: 70px;
  text-align: center;
  cursor: pointer;
  margin-right: 20px;
  line-height: 70px;
}
