.TokensNamesList__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
  grid-gap: 10px;
}

@media screen and (max-width: 1023px) {

  .TokensNamesList__content {
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  }

}

@media screen and (max-width: 767px) {

  .TokensNamesList__content {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }

}
