@import '../../../res/styles/Colors';

.TokenNameHolder__content {
  font-family: 'Roboto', sans-serif;
  height: 52px;
  width: 144px;
  border-radius: 5px;
  color: white;
  line-height: 50px;
  padding: 0 10px 0;
  cursor: pointer;
  overflow: hidden;
  background-color: #424d61;
}

.TokenNameHolder__content_checked {
  opacity: 1;
  background-color: #3294e4;
}

.TokenNameHolder__icon {
  width: 36px;
  height: 36px;
  margin-top: -4px;
}

.TokenNameHolder__icon-box {
  .TokenNameHolder__icon;
  margin: 0;
  height: 100%;
  float: left;
  display: flex;
}

.TokenNameHolder__icon_empty {
  .TokenNameHolder__icon;
  margin: auto;
  background-color: @background;
  border-radius: 12px;
}

.TokenNameHolder__name {
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0;
  color: white;
}

@media screen and (max-width: 1023px) {


}

@media screen and (max-width: 767px) {

  .TokenNameHolder__content {
    padding: 0 0 0 5px;
    width: 100%;
  }

  .TokenNameHolder__icon {
    width: 24px;
    height: 24px;
  }

  .TokenNameHolder__name {
    margin-left: 5px;
    font-size: 12px;

  }

}