.PageContent {

}

.PageContent-content {
  margin: 20px 5%;
  border-radius: 8px;
  box-shadow: 0 3px 7px 0 rgba(141, 162, 172, 0.21);
  background-color: #ffffff;
  border: solid 1px #e5e9f2;
}

@media only screen and (min-width: 375px) {
  /* iPhone 6 and wider */
  .PageContent-content {
    padding: 20px 40px 20px 40px;
  }
}
