@import '../../res/styles/Colors.less';

.PageHeader {
  color: @text-color-light;
  height: 60px;
  line-height: 60px;
  background-color: @content-color;
  padding: 0 20px;
  display: flow-root;
  white-space: nowrap;
}

.PageHeader__logo {
  margin-left: 30px;
}

.PageHeader__logo-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.PageHeader__logo-text,
.PageHeader__logo-text:hover,
.PageHeader__logo-text:focus,
.PageHeader__logo-text:active {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0;
  color: @text-color-light;
  text-decoration: none;
}

.PageHeader__btn-block {
  float: right;

  a:first-child {
    margin-right: 30px;
  }
  a:last-child {
    margin-right: 10px;
  }
}

.PageHeader__btn {
  width: 30px;
  height: 30px;
}

.PageHeader__btn:hover {
  -webkit-filter: drop-shadow(0px 0px @btn-text-color);
  filter: drop-shadow(0px 0px @btn-text-color);
}

@media screen and (max-width: 1023px) {


}

@media screen and (max-width: 767px) {

  .PageHeader__logo {
    margin-left: 0;
  }

}
