@text-color-light: white;
@text-color-dark: #828ea2;
@text-color-success: #50e3c2;
@text-color-warn: #ff7658;
@btn-text-color: #3294e4;
@btn-text-primary-color: white;
@background: #1c2233;
@content-color: #21273c;
@content-color-dark: #171717;
@border: #4a536e;
@border-dark: #151515;

@dark-gray: #333b42;
@light-gray: #4a5863;