@import './Fonts.less';

.ant-btn {
  border-radius: 20px;
  padding: 0 25px;
  height: 40px;
  width: 130px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0;
  text-align: center;
  box-shadow: 0 7px 10px 0 rgba(61, 137, 212, 0.3);
}

.ant-btn-primary,
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #3294e4;
}

.ant-btn-primary:active,
.ant-btn-primary.active {
  box-shadow: none;
}

.button-disabled() {
  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background: lightgrey;
    }
  }
}

.ant-slider-track,
.ant-slider-track:hover,
.ant-slider-track:focus {
  background-color: #3b91d7 !important;
  border: none;
}

.ant-slider:hover {
  background-color: transparent;
  border: none;
}

.ant-slider-handle,
.ant-slider-handle:hover,
.ant-slider-handle:focus,
.ant-slider-handle:active {
  background-color: white;
  border: solid 5px #3b91d7 !important;
}
