.ConfigurationBlock__content {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0;
  padding-bottom: 20px;
}

.ConfigurationBlock__content__item {
  width: 471px;
  padding: 20px 0 0 20px;
}

.ConfigurationBlock__content__item__title {
  font-size: 18px;
  margin-bottom: 20px;
  color: #828ea2;
}

@media screen and (max-width: 1023px) {

  .ConfigurationBlock__content {
    grid-template-columns: auto auto;
  }

  .ConfigurationBlock__content__item {
    width: 354px;
  }

}

@media screen and (max-width: 767px) {

  .ConfigurationBlock__content {
    grid-template-columns: auto;
  }

  .ConfigurationBlock__content__item {
    width: 100%;
    padding: 10px 10px 0 10px;
  }

  .ConfigurationBlock__content__item__title {
    font-size: 16px;
    margin-bottom: 10px;
  }

}
