.ConfigurationBlock__content {
  display: grid;
  grid-template-columns: 471px 471px;
  grid-gap: 0;
  padding-bottom: 20px;
}

.ConfigurationBlock__content__item {
  width: 471px;
  padding: 20px 0 0 20px;
}

.ConfigurationBlock__content__item__title {
  font-size: 18px;
  color: #828ea2;
  margin-bottom: 20px;
}
