.StatisticItem__content {
  width: 246px;
  text-align: center;
  padding: 20px 40px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  margin: 0;
  position: relative;
}

.StatisticItem__content__title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  height: 38px;
}

.StatisticItem__content__sub-title {
  opacity: 0.3;
  font-size: 16px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.StatisticItem__content__value {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.StatisticItem__content__value_red {
  color: #ff7658;
}

.StatisticItem__content__value_green {
  color: #50e3c2
}

.StatisticItem__content__roi {
  .StatisticItem__content__value;
  font-size: 36px;
  margin-bottom: 0;
}
