@import "../../res/styles/Colors";

.CalculatorPage__content {
  min-height: 100vh;
  width: 1000px;
  margin: 20px auto;
}

.CalculatorPage__content-main {
  display: flex;
}

.CalculatorPage__content-second {
  display: inline-block;
  width: 100%;
}

.CalculatorPage__content__title {
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 20px 0;
  clear: both;
}

.CalculatorPage__content__title-portfolio {
  .CalculatorPage__content__title;
  float: left;
}

.CalculatorPage__content__sub-title {
  opacity: 0.3;
  font-size: 16px;
  text-align: right;
  margin-right: 40px;
  color: #90a8bc;
}

.CalculatorPage__content__block-left {
  height: 100%;
  padding-top: 20px;
  padding-right: 20px;
}

.CalculatorPage__content-left {
  width: 744px;
  height: 500px;
  margin-bottom: 40px;
  float: left;
}

.CalculatorPage__content_right {
  float: right;
  margin-left: 10px;
}

.CalculatorPage__content_right-top {
  margin-bottom: 10px;
}

.CalculatorPage__content_right-bottom {
}

.CalculatorPage__content__buttons-finish {
  text-align: center;
  margin: 20px;
}

.CalculatorPage__content__button-apply {
  text-align: center;
  margin-top: 40px;
}

.CalculatorPage__content__buttons-finish__save-result {
  margin-right: 20px !important;
}

.CalculatorPage__content__edit__switch-block__text {
  opacity: 0.3;
  font-size: 16px;
  color: #90a8bc;
  margin-right: 10px;
}

.CalculatorPage__content__edit {
  float: right;
}

.CalculatorPage__content__edit__button-change {
  font-size: 16px;
  color: #3294e4;
  text-decoration: underline;
  cursor: pointer;
}

.CalculatorPage__content__prof-mode__button-change-small {
  display: none;
  margin-top: 10px;
}

.CalculatorPage__content__prof-mode {
  margin-top: 20px;
  vertical-align: middle;
}

.CalculatorPage__content__prof-mode__title {
  .CalculatorPage__content__title;
}

.CalculatorPage__content__prof-mode__method {
  padding: 20px;
}

.CalculatorPage__content__prof-mode__period {
  margin: 20px;
}

.CalculatorPage__content__prof-mode__method__title {
  font-size: 18px;
  color: #90a8bc;
  margin-bottom: 20px;
}

.CalculatorPage__content__prof-mode__period__title {
  font-size: 18px;
  color: #90a8bc;
  margin-bottom: 20px;
}

.CalculatorPage__content__prof-mode__period__picker {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 10px;
}

.CalculatorPage__content__prof-mode__history {
  padding: 20px 20px 0 0;
}

.CalculatorPage__content__prof-mode__history__title {
  .CalculatorPage__content__prof-mode__period__title;
  margin-left: 20px;
}

.CalculatorPage__content__prof-mode__manual-rebalance {
  padding-right: 20px;
}

.CalculatorPage__content__prof-mode__manual-rebalance__title {
  .CalculatorPage__content__prof-mode__period__title;
  margin-left: 20px;
}

.CalculatorPage__content__prof-mode__manual-rebalance__list {
  margin-left: 20px;
  margin-right: 20px;
}

.CalculatorPage__tooltip {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0;
  color: @text-color-light;
}

.CalculatorPage__tooltip_title {
  .CalculatorPage__tooltip;
  margin-bottom: 5px;
}

.CalculatorPage__tooltip_param_name {
  .CalculatorPage__tooltip;
  width: 160px;
  display: inline-block;
  font-size: 16px;
  color: @text-color-dark;
}

.CalculatorPage__tooltip_param_value {
  .CalculatorPage__tooltip;
  font-size: 16px;
  color: @text-color-light;
}

.CalculatorPage__content-info {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.CalculatorPage__content__prof-mode__method__block {
  display: inline-block;
  width: 100%;
}

.CalculatorPage__content__prof-mode__method__title {
  float: left;
}

.CalculatorPage__content__prof-mode__method__helper {
  float: right;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.CalculatorPage__content__prof-mode__method__helper__icon {
  width: 25px;
  height: 25px;
}

.CalculatorPage__content__rebalance-info__title {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 5px;
}

.CalculatorPage__content__rebalance-info {
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
}

.CalculatorPage__content__rebalance-info__icon {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

.CalculatorPage__content__rebalance-info__title {
  font-size: 16px;
  color: #ffffff;
}

.CalculatorPage__content__rebalance-info__desc {
  font-size: 14px;
  color: #90a8bc;
}

@media screen and (max-width: 1023px) {

  .CalculatorPage__content {
    width: 748px;
  }

  .CalculatorPage__content-left {
    width: 573px;
    height: 447px;
    float: left;
  }

}

.CalculatorPage__content__prof-mode-desc__block {
  padding: 10px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 80px;

  .CalculatorPage__content__prof-mode-desc__icon {
    width: 40px;
    height: 65px;
    margin-right: 10px;
  }

  .CalculatorPage__content__prof-mode-desc__text {
    margin: auto auto;
  }

  .CalculatorPage__content__prof-mode-desc__button {
    margin: auto auto !important;
  }

}

@media screen and (max-width: 767px) {

  .CalculatorPage__content {
    min-height: 100vh;
    width: 100%;
    padding: 10px;

    .ant-dropdown-menu-item,
    .ant-dropdown-menu-submenu-title {
      font-size: 13px;
    }
  }

  .CalculatorPage__content-main {
    display: block;
  }

  .CalculatorPage__content__title {
    margin: 0 0 10px 0;
    font-size: 14px;
  }

  .CalculatorPage__content-left {
    width: auto;
    height: auto;
    float: none;
    margin-bottom: 10px;
  }

  .CalculatorPage__content_right {
    display: grid;
    float: none;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 10px;
    padding: 0;
    margin: 0;
  }

  .CalculatorPage__content__prof-mode__button-change-small {
    display: block;
  }

  .CalculatorPage__content__button-apply {
    margin-top: 10px;
  }

  .CalculatorPage__content__edit__button-change__block {
    display: none;
  }

  .CalculatorPage__content__buttons-finish {
    margin: 10px 0 0;
  }

  .CalculatorPage__content__buttons-finish__save-result {
    margin-bottom: 10px !important;
  }

  .CalculatorPage__content__prof-mode__title {
    font-size: 14px;
  }

  .CalculatorPage__content__prof-mode__manual-rebalance__list {
    margin-left: 10px;
    margin-right: 10px;
  }

  .CalculatorPage__content__prof-mode__history {
    padding: 20px 0 0 0;
  }

  .CalculatorPage__content__prof-mode__manual-rebalance {
    padding-right: 0;
  }

  .CalculatorPage__content__prof-mode-desc__block {
    margin-top: 10px;
    display: block;
    text-align: center;

    .CalculatorPage__content__prof-mode-desc__button {
      margin: 10px 0 !important;
    }
  }

  .CalculatorPage__content__rebalance-info__title {
    font-size: 16px;
    color: #ffffff;
  }

  .CalculatorPage__content__rebalance-info__title {
    font-size: 14px;
  }

  .CalculatorPage__content__rebalance-info__desc {
    font-size: 14px;
  }

  .CalculatorPage__content__rebalance-info__dialog {
    .ant-confirm-body .ant-confirm-content {
      margin-left: 0;
    }
  }
}
