.CalculatorPage__header {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2d2f32;
  margin-top: 40px;
}

.CalculatorPage__result-name {
  .CalculatorPage__header;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-top: 0;
  text-align: left;
}

.CalculatorPage__result-value {
  .CalculatorPage__header;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #8e9eb2;
  margin-top: 0;
}

.CalculatorPage__options-title {
  .CalculatorPage__header;
  text-align: left;
  font-size: 18px;
  margin-top: 23px;
  margin-bottom: 16px;
}

.CalculatorPage__chart-title {
  .CalculatorPage__header;
  font-size: 18px;
  font-weight: 300;
  margin-top: 0;
}

.CalculatorPage__result-chart {
  .CalculatorPage__header;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 0;
  padding: 20px;
  text-align: left;
  font-size: 16px;
}
