@import "../../res/styles/Colors";

.TokenWeightDialog__content {
  text-align: center;
  .ant-slider-track, .ant-slider-track:hover, .ant-slider-track:focus {
    background-color: transparent !important;
  }
}

.TokenWeightDialog__content-text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0;
  color: @text-color-dark;
  margin: 10px 0;
  text-align: left;
}

.TokenWeightDialog__content-text-date {
  .TokenWeightDialog__content-text;
  float: left;
  margin: 20px 0;
}

.TokenWeightDialog__content-text-date-value {
  .TokenWeightDialog__content-text-date;
  float: right;
  color: #333b42;
}

.TokenWeightDialog__content-date-slider {
  clear: both;
}

.TokenWeightDialog__content__footer__button-cancel {
  margin-top: 10px;
}

@media screen and (max-width: 1023px) {

  .TokenWeightDialog__modal {
    .ant-modal-body {
      padding: 5px;
    }
  }

}

@media screen and (max-width: 767px) {

}
