@import "../../../res/styles/Colors";

.TokenLegendHolder__content {
  line-height: 24px;
}

.TokenLegendHolder__color_dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
}

.TokenLegendHolder__color_line {
  width: 32px;
  height: 4px;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 4px;
}

.TokenLegendHolder__name {
  margin-left: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0;
  color: @text-color-light;
}
